<div class="detail-player">
<!-- Dashboard -->
<div class="detail-dashboard">
    <!-- Header -->
    <header class="detail-header">
        <h2 class="detail-header-2">{{song.name}} 
            <span class="option-containter"></span>
                <button class="detail-option">
                    <i style="opacity: 0.5" class="fas fa-ellipsis-h"></i>
                    <ul class="playlist-list">
                        {{#if user}}
                            <p class="list-title">ADD TO PLAYLIST</p>
                            {{#each playlists}}
                                <li id="{{this._id}}" class="btn-add-to-playlist">
                                    {{this.name}}
                                </li>
                            {{/each}}
                        {{/if}}

                        {{#unless user}}
                            <p class="list-title">ADD TO PLAYLIST</p>
                            <a class="a-config" href="/auth/login">
                                <p class="list-title">Login to use</p>
                            </a>
                        {{/unless}}
                    </ul>
                </button>
            </span>
        </h2>
        <h4 class="detail-header-4">{{song.singer}}</h4>
    </header>
    <!-- Content -->
    <div class="detail-song-properties">
        <!-- CD -->
        <div class="detail-cd-thumb" style="background-image: url('{{song.image}}')">
        </div>
        {{!-- control --}}
        <div class="detail-control">
            <div class="btn detail-btn-toggle-play">
                <i class="fas fa-pause icon-pause"></i>
                <i class="fas fa-play icon-play"></i>
            </div>
        </div>
        <input id="detail-progress" class="detail-progress-music" type="range" value="0" step="1" min="0" max="100">
        <audio id="detail-audio" src="https://docs.google.com/uc?export=download&id={{song.path}}"></audio>
    </div>
</div>
<script src="/javascript/detail.js"></script>